<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
  <alias>
    <family>monospace</family>
    <prefer>
      <family>Iosevka Nerd Font</family>
      <family>Iosevka</family>
      <family>Noto Sans Mono</family>
    </prefer>
  </alias>

  <alias>
    <family>sans-serif</family>
    <prefer>
      <family>Noto Sans</family>
      <family>Noto Color Emoji</family>
     <family>Noto CJK JP</family>
    </prefer>
  </alias>

  <alias>
    <family>serif</family>
    <prefer>
      <family>Noto Serif</family>
      <family>Noto Color Emoji</family>
     <family>Noto CJK JP</family>
    </prefer>
  </alias>

  <match target="pattern">
    <test qual="any" name="family">
      <string>serif</string>
      <string>sans-serif</string>
      <string>monospace</string>
    </test>
    <edit name="family" mode="append" binding="strong">
      <string>Noto Color Emoji</string>
      <string>Noto Sans CJK JP</string>
      <string>Noto Sans Symbols</string>
    </edit>
  </match>

  <alias>
    <family>emoji</family>
    <prefer>
      <family>Noto Color Emoji</family>
    </prefer>
  </alias>

</fontconfig>
