[Unit]
Description=Refresh Arch Linux Package Databases
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Syy --noconfirm
User=root

[Install]
WantedBy=multi-user.target
