* {
    font-family: "Iosevka Nerd Font", FontAwesome, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

#workspaces button {
    padding: 0px 1px;
    margin: 5px;
    min-height: 0px;
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 0.6);
}

#workspaces button.active {
    padding: 0px 10px;
    background-color: #{{ .palette.accents.first.secondary }};
    border-color: #{{ .palette.accents.first.primary }};
}

#pulseaudio, #network, #battery, #clock {
    padding: 0 14px 0 8px;
}

#pulseaudio.muted {
    background-color: rgba(255, 0, 0, 0.2); /* Red tint for muted volume */
}

#battery.charging, #battery.plugged {
    background-color: rgba(0, 255, 0, 0.2); /* Green tint for charging */
}

#battery.critical {
    background-color: rgba(255, 0, 0, 0.2); /* Red tint for critical battery */
}
