* {
    font-family: "Iosevka Nerd Font", FontAwesome, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.9);
}

#workspaces button {
    padding: 0 12px 0 8px;
    border-radius: 0;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.5);
}

#workspaces button.hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#pulseaudio, #network, #battery, #clock {
    padding: 0 14px 0 8px;
}

#pulseaudio.muted {
    background-color: rgba(255, 0, 0, 0.2); /* Red tint for muted volume */
}

#battery.charging, #battery.plugged {
    background-color: rgba(0, 255, 0, 0.2); /* Green tint for charging */
}

#battery.critical {
    background-color: rgba(255, 0, 0, 0.2); /* Red tint for critical battery */
}
