[Unit]
Description=Refresh Arch Linux Package Databases
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Syy --noconfirm --quiet
User=root
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
